<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.supersuitapp">
    <uses-permission android:name="com.weaverprojects.gpstest.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_foreground"
        android:label="Supersuit"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC3C39_z73xHYVmM0wt1ZDqgAsmLMe98J4"/>
        <activity
            android:name=".BatteryActivity"
            android:label="Battery"
            android:theme="@style/BatteryTheme"
            android:parentActivityName=".MainMenuActivity"></activity>
        <activity
            android:name=".Weight"
            android:label="Weight"
            android:theme="@style/WeightTheme"
            android:parentActivityName=".MainMenuActivity" />
        <activity android:name=".MainMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OurSettingsActivity"
            android:label="Settings"
            android:theme="@style/SettingTheme"
            android:parentActivityName=".MainMenuActivity"></activity>
        <activity android:name=".GPSActivity"
            android:label="Find case"
            android:theme="@style/BatteryTheme"></activity>
    </application>

</manifest>