<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.supersuitapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_foreground"
        android:label="Supersuit"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        >
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:theme="@style/SettingTheme">

        </activity>
        <activity android:name=".BatteryActivity"
            android:label="Battery"
            android:theme="@style/BatteryTheme"
            android:parentActivityName=".MainMenuActivity">
        </activity>
        <activity
            android:name=".Weight"
            android:label="Weight"
            android:theme="@style/WeightTheme"
            android:parentActivityName=".MainMenuActivity"
            />
        <activity android:name=".MainMenuActivity"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OurSettingsActivity"
            android:parentActivityName=".MainMenuActivity">

        </activity>
    </application>

</manifest>